texturepacks
shaderpacks
server-resource-packs
screenshots
schematics
saves
mods
logs
local
journeymap
defaultconfigs
crash-reports
coremods
backups
emi.json
icon.png
options.txt
patchouli_data.json
rhino.local.properties
usercache.json
usernamecache.json

kubejs/exported/modres
modernfix
